#song-list {
    width: 100%;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;;
}

#song-list option {

    font-size: 20px;

}

#playback-controls-wrapper {

    /* background-color: rgb(133, 0, 133); */

}

#playback-controls-wrapper .control-wrapper {

    flex: 1 1 100px;

    

    /* background-color: darkorange; */

}

#playback-controls-wrapper .control-wrapper .control-wrapper-label {

    flex: 0 0 auto;

    /* background-color: deeppink; */

    justify-content: center;
    align-items: center;

}


#playback-controls-wrapper .control-wrapper .control-wrapper-content {

    flex: 1 1 auto;

    /* background-color: coral; */

    justify-content: center;
    align-items: center;
}

.control-button {

    /* padding: 5px; */
    /* border-radius: 5px; */
    /* background-color: aquamarine; */

    justify-content: center;
    align-items: center;

}

.control-button span {
    /* background-color: forestgreen; */
    font-size: 90px;
    line-height: 60px;
    cursor: pointer;
    color: black;

    user-select: none;
}


.control-button span.disabled {

    opacity: 0.2;
    pointer-events: none;

}

.control-button span:hover {

    color: aqua!important;
    

}

#playback-controls-wrapper .control-wrapper:not(:last-of-type) {

    margin-right: 10px;

}

#tempo-display-wrapper {

    margin: 10px 0 10px 0;
    /* background-color: darkgoldenrod; */

}

#tempo-display-wrapper #tempo {

    /* background-color: chartreuse; */
    font-size: 25px;

}

